<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Test\Ajaxapi\Api\TwiceInterface" type="Test\Ajaxapi\Model\Webapi\Twice" />
    <preference for="Test\Ajaxapi\Api\Data\NumberInterface" type="Test\Ajaxapi\Model\Webapi\Data\Number" />
</config>
